body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  min-width: 1200px;
}

.container {
  margin: 30px auto;
  /* padding: 20px; */
  text-align: center;
  width: 95%;
}

h1 {
  color: #333;
}

.status-container {
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 5px;
  user-select: none;
  /* cursor: grab; */
  -webkit-overflow-scrolling: touch;
}

.status-block {
  flex: 0 0 950px;
  min-width: 300px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.status-block h3 {
  display: inline-block;
  margin: 0;
  padding-bottom: 8px;
  /* border-bottom: 1px solid #ddd; */
  color: #333;
  vertical-align: middle;
}

.status-block .btn {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 8px;
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
}

.status-block .btn:hover {
  background-color: #0056b3;
}

.status-fields-container {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.status-field {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 8px 12px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.status-field label {
  text-align: left;
  color: #666;
  font-weight: bold;
  font-size: 0.9rem;
}

.status-value {
  display: inline-block;
  flex: 1;
  text-align: left;
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  min-width: 120px;
}

/* ===== テーブル ===== */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f8f9fa;
  color: #2c3e50;
  font-weight: 500;
  text-align: center;
}

/* テーブルの行のホバー効果 */
tr:hover {
  background-color: #f1f1f1;
}

/* 入力フィールドのスタイル */
input[type="text"],
input[type="time"],
select {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  box-sizing: border-box;
}

/* チェックボックスのスタイル */
input[type="checkbox"] {
  transform: scale(1.2);
  margin: 0;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}